<%= form_tag('review', method: "post") do %>

  <div class="field">
    <%= label_tag :rating %>
    <%= select_tag :rating, options_for_select([1,2,3,4,5]) %>
  </div>

  <div class="field">
    <%= label_tag :comment %>
    <%= text_area_tag :comment %>
  </div>

  <% if current_user.tipo == "Cliente" %>
  	<%= hidden_field_tag 'photographer_id', @photographer.id %>
  <% else %>
  	<%= hidden_field_tag 'client_id', @client.id %>
  <% end %>

  <div class="actions">
    <%= submit_tag :enviar%>
  </div>

  <% end %>