<p id="notice"><%= notice %></p>

<h1>Fotógrafos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
      <th>Email</th>
      <th>Bio</th>
      <th>Portfolio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photographers.each do |photographer| %>
      <tr>
        <td><%= photographer.display_name %></td>
        <td><%= photographer.phone %></td>
        <td><%= photographer.city %></td>
        <td><%= photographer.state %></td>
        <td><%= photographer.country %></td>
        <td><%= photographer.email %></td>
        <td><%= photographer.bio %></td>
        <td><%= photographer.portfolio_link %></td>
      </tr>
    <% end %>
  </tbody>
</table>
