<section>

  <article>
    <p id="notice"><%= notice %></p>

    <img src=<%= "#{@client.avatar}"%> width=150px height=100px > </img>

    <h1><%= @client.name %></h1>

    <p><strong><%= @client.phone %> - <%= @client.email %> </strong></p>

    <p><%= @client.city %>, <%= @client.state %> - <%= @client.country %></p>
  </article>
  <aside>

  </aside>
</section>

<!-- Somente fotógrafos podem deixar review na página de clientes !-->
<% if current_user.tipo == "Fotógrafo" %>
  <section id="addNewReview">
  <h2>Deixe um review: </h2>
    <%= render 'shared/review_form' %>
  </section>
<% end %>

<section>
  <% if @client.client_reviews.count > 0 %>
    <p><strong>Reviews de fotógrafos:</strong><p>
      <table class="table">
        <thead>
          <tr>
            <th>Nota</th>
            <th>Comentário</th>
            <th>Autor</th>
            <th>Data</th>
          </tr>
        </thead>
        <tbody>
          <% @client.client_reviews.each do |review| %>
          <tr>
            <td><%= review.rating %></td>
            <td><%= review.comment %></td>
            <td><%= review.photographer.name %></td>
            <td><%= review.created_at %> </td>
            <!-- Verifica se o usuário logado é o autor desse review, se sim então ele tem acesso ao botão de apagar" !-->
            <% if current_user.details.id == review.photographer.id %>
              <td><%= link_to 'Apagar', review, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
            <% end %>
          </tr>
        </tbody>
          <% end %>
      </table>
    <% end %>
</section>
