<section>
  <article>
    <p id="notice"><%= notice %></p>

    <img src=<%= "#{@client.avatar}"%> width=150px height=100px > </img>

    <h1><%= @client.name %></h1>

    <p><strong><%= @client.phone %> - <%= @client.email %> </strong></p>

    <p><%= @client.city %>, <%= @client.state %> - <%= @client.country %></p>
  </article>
  <aside>

  </aside>
</section>

<% if current_user.tipo == "Fotógrafo" %>
  <section id="addNewReview">
  <h2>Deixe um review: </h2>
    <%= render 'shared/review_form' %>
  </section>
<% end %>

<section>
  <% if @client.client_reviews.count > 0 %>
    <p><strong>Reviews:</strong><p>
      <table class="table">
        <thead>
          <tr>
            <th>Nota</th>
            <th>Comentário</th>
            <th>Autor</th>
          </tr>
        </thead>
        <tbody>
          <% @client.client_reviews.each do |review| %>
          <tr>
            <td><%= review.rating %></td>
            <td><%= review.comment %></td>
            <td><%= review.client.name %></td>
          </tr>
        </tbody>
          <% end %>
      </table>
    <% end %>
</section>
