<section>
  <article>
    <p id="notice"><%= notice %></p>

    <img src=<%= "#{@photographer.avatar}"%> width=150px height=100px > </img>

    <h1><%= @photographer.display_name %></h1>

    <p><%= @photographer.bio %></p>

    <p>Portfolio: <%= @photographer.portfolio_link %></p>

    <p><strong><%= @photographer.phone %> - <%= @photographer.email %> </strong></p>

    <p><%= @photographer.city %>, <%= @photographer.state %> - <%= @photographer.country %></p>
  </article>
  <aside>

  </aside>
</section>

<!-- Somente clientes podem deixar review na página de fotógrafos !-->
<% if current_user.tipo == "Cliente" %>
  <section id="addNewReview">
  <h2>Deixe um review: </h2>
    <%= render 'shared/review_form' %>
  </section>
<% end %>

<section>
  <% if @photographer.photographer_reviews.count > 0 %>
    <p><strong>Reviews de clientes:</strong><p>
      <table class="table">
        <thead>
          <tr>
            <th>Nota</th>
            <th>Comentário</th>
            <th>Autor</th>
            <th>Data</th>
          </tr>
        </thead>
        <tbody>
          <% @photographer.photographer_reviews.each do |review| %>
          <tr>
            <td><%= review.rating %></td>
            <td><%= review.comment %></td>
            <td><%= review.client.name %></td>
            <td><%= review.created_at %> </td>
            <!-- Verifica se o usuário logado é o autor desse review, se sim então ele tem acesso ao botão de apagar" !-->
            <% if current_user.details.id == review.client.id %>
              <td><%= link_to 'Apagar', review, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
            <% end %>
          </tr>
        </tbody>
          <% end %>
      </table>
    <% end %>
</section>
