<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @photographer.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @photographer.phone %>
</p>

<p>
  <strong>City:</strong>
  <%= @photographer.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @photographer.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @photographer.country %>
</p>

<p>
  <strong>Email:</strong>
  <%= @photographer.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @photographer.password %>
</p>

<p>
  <strong>String:</strong>
  <%= @photographer.string %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @photographer.avatar %>
</p>

<p>
  <strong>Portfolio link:</strong>
  <%= @photographer.portfolio_link %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @photographer.bio %>
</p>

<p>
  <strong>Display name:</strong>
  <%= @photographer.display_name %>
</p>

<%= link_to 'Edit', edit_photographer_path(@photographer) %> |
<%= link_to 'Back', photographers_path %>
