<section>
  <article>
    <p id="notice"><%= notice %></p>

    <img src=<%= "#{@photographer.avatar}"%> width=150px height=100px > </img>

    <h1><%= @photographer.display_name %></h1>

    <p><%= @photographer.bio %></p>

    <p>Portfolio: <%= @photographer.portfolio_link %></p>

    <p><strong><%= @photographer.phone %> - <%= @photographer.email %> </strong></p>

    <p><%= @photographer.city %>, <%= @photographer.state %> - <%= @photographer.country %></p>
  </article>
  <aside>

  </aside>
</section>

<section>
  <% if @photographer.photographer_reviews %>
    <p><strong>Reviews:</strong><p>
      <table class="table">
        <thead>
          <tr>
            <th>Nota</th>
            <th>Comentário</th>
            <th>Autor</th>
          </tr>
        </thead>
        <tbody>
          <% @photographer.photographer_reviews.each do |review| %>
          <tr>
            <td><%= review.rating %></td>
            <td><%= review.comment %></td>
            <td><%= review.client %></td>
          </tr>
        </tbody>
          <% end %>
      </table>
    <% end %>
</section>
