<%= form_for(price_quote) do |f| %>

<% if current_user.tipo == "Cliente" %>
  <p>Fotógrafo: <%= price_quote.photographer.display_name %></p>
  <div class="field">
    <%= f.label :Descrição %>
    <%= f.text_area :description %>
    
  </div>
<% end %>

  <p>Criado em: <%= price_quote.created_at %></p>
  <p>Status: <%= price_quote.total %></p>

<% if current_user.tipo == "Fotógrafo" %>
<p>Cliente: <%= price_quote.client.name %></p>
<p>Descrição: <%= price_quote.description %></p>
  <div class="field">
    <%= f.label :Total %>
    <%= f.text_field :total %>
  </div>
<%end%>

<div class="actions">
    <%= submit_tag :atualizar%>
</div>

<% end %>
